snippet script <script>
	<script>
		$0
	</script>
snippet mscript <script module>
	<script module>
		$0
	</script>
snippet tscript <script lang="ts">
	<script lang="ts">
		$0
	</script>
snippet tmscript <script module lang="ts">
	<script module lang="ts">
		$0
	</script>
snippet style <style>
	<style>
		$0
	</style>
snippet sstyle <style lang="scss">
	<style lang="scss">
		$0
	</style>
snippet lstyle <style lang="less">
	<style lang="less">
		$0
	</style>
